Repository TEDxUW/2019.tedxuw.com: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format, npm run lint

.lintstagedrc:

{
  "*.{js,jsx,json,md}": [
    "npm run format"
  ],
  "*.{js,jsx}": [
    "npm run lint"
  ]
}

Add spam detection
  src/components/MailingListSignup/index.jsx
Due: npm run format, npm run lint

logic tweak
  src/components/MailingListSignup/index.jsx
Due: npm run format, npm run lint

Configure
  src/components/MailingListSignup/index.jsx
Due: npm run format, npm run lint

Diable on submit
  src/components/Button/index.jsx
  src/components/MailingListSignup/index.jsx
Due: npm run format, npm run lint

Bug where invalid can't submit
  src/components/MailingListSignup/index.jsx
Due: npm run format, npm run lint

Get signups working (#7)
  gatsby-config.js
  package-lock.json
  package.json
  src/components/Button/index.jsx
  src/components/MailingListSignup/index.jsx
Due: npm run format, npm run lint

Update README
  README.md
Due: npm run format

Update coming-soon.json
  src/static/data/coming-soon.json
Due: npm run format

Create CNAME
  CNAME
Due: none

Delete CNAME
  CNAME
Due: none
